data/
.DS_Store
env/
geo-delta-env/
output/

*.bundle.*
lib/
node_modules/
*.egg-info/
.ipynb_checkpoints

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# OS X stuff
*.DS_Store

_temp_extension
junit.xml
[uU]ntitled*
notebook/static/*
!notebook/static/favicons
notebook/labextension
notebook/schemas
docs/source/changelog.md
docs/source/contributing.md

# VSCode
.vscode
